<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
	<link rel="icon"
		href="https://img.icons8.com/external-tulpahn-outline-color-tulpahn/512/external-yummy-cat-emoji-tulpahn-outline-color-tulpahn.png">
	<title>Treat Shop</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg bg-body-tertiary" id="nav-bar">
			<div class="container-fluid">
				<div class="row">
					<a class="navbar-brand"><img
							src="https://img.icons8.com/external-tulpahn-outline-color-tulpahn/125/external-yummy-cat-emoji-tulpahn-outline-color-tulpahn.png"
							alt=""></a>
					<ul class="navbar-nav">
						<li class="nav-item">
							<a>@Html.ActionLink("Home", "Index", "Home")</a>
						</li>
						<li class="nav-item">
							<a>@Html.ActionLink("Treats", "Index", "Treats")</a>
						</li>
						<li class="nav-item">
							<a>@Html.ActionLink("Flavors", "Index", "Flavors")</a>
						</li>
						<li class="nav-item">
							<p>@Html.ActionLink("Register / Sign In", "Index", "Account")</p>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		@RenderBody()

		@await Html.PartialAsync("Footer")
	</div>
</body>

</html