@{
  Layout = "_Layout";
}

@using TreatShop.Models;
@model TreatShop.Models.Flavor;


<h1>Flavor Details</h1>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>


@if(@Model.JoinEntities.Count == 0)
{
  <p>This Flavor does not belong to any Treats</p>
}
else
{
  <h4>Treat:</h4>
  
  @foreach(TreatFlavor join in Model.JoinEntities)
  {
    <h3>@join.Treat.Name</h3>
    @using (Html.BeginForm("DeleteJoin", "Flavors"))
    {
      @Html.Hidden("joinId", @join.TreatFlavorId)
      <input type="submit" value="Delete"/>
    }
  }
  
}

<p>@Html.ActionLink("Add a Treat", "AddTreat", new { id = Model.FlavorId })</p>

<p>@Html.ActionLink("Edit this Flavor", "Edit", new { id = Model.FlavorId})</p>
<p>@Html.ActionLink("Delete this Flavor", "Delete", new { id = Model.FlavorId})</p>