@{
	Layout = "_Layout";
}

@model TreatShop.Models.Treat;

<div class="page-header">
	<h1>Edit</h1>
	<hr>
</div>

<div id="form">
	<h4>Edit this Treat: @Html.DisplayFor(model => model.Name)</h4>
	@using (Html.BeginForm())
	{
		@Html.HiddenFor(model => model.TreatId)

		@Html.LabelFor(model => model.Name)<br>
		@Html.EditorFor(model => model.Name)
		<input type="submit" value="Save" />
	}
</div>
<p>@Html.ActionLink("Back to list", "Index")</p>